body{
            margin: 0;
            padding: 0;
        }
        header{
            background: #445162;
            padding: 20px;
            color: white;
            height: 320px;
        }
        a{
            text-decoration: none;
            color: white;
            vertical-align: middle;  
        }
        ul{
            list-style: none;
            font-size: 18px;
        }
        img{
            margin-right: 10px;
            vertical-align: middle;
        }
        div{
            width: 470px;
            height: 216px;
            background: white;
            float: right;
            margin: 51px 15px 0 0;
        }
        h1{
            font-size: 40px;
            margin-left: 40px;
        }
        li{
            line-height: 40px;
        }
