body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/*Стили первого блока*/

header {
    background: #445162;
    padding-bottom: 0px;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 0 300px;
}
a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}
a:hover {
    color: rgb(160, 119, 119);
}
ul {
    list-style: none;
    font-size: 20px;
    padding: 1em;
    line-height: 36px;
}
h1 {
    font-size: 60px;
    margin-left: 0.4em;
}
header img {
    margin-right: 0.625em;
    vertical-align: middle;
}
.empty-block {
    width: 35vw;
    height: 30vh;
    background: white;
    margin-right: 20px;
    align-self: center;
}

/*Стили второго блока*/

.about-product {
    display: flex;
    justify-content: center;
    line-height: 36px;
    gap: 0 175px;
    padding-top: 20px;
}
.dark-block {
    width: 25vw;
    height: 30vh;
    background: #445162;
    margin: 40px;
    align-self: center;
}
h2 {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}
.about-product p {
    width: 50vw;
}
p {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    text-align: justify;
}

/* Стили третьего блока */

.pluses {
    background: #f5f5f5;
}
.pluses h2 {
    text-align: center;
    padding: 30px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: center;
}
.block {
    display: flex;
    align-items: flex-start;
    flex: 0 0 45vw;
}
.block img {
    background: #445161;
    padding: 5px;
    margin-right: 10px;
}
.block p {
    margin-top: -5px;
}

/* Стили четвёртого блока */

.scrinshots h2 {
    text-align: center;
    padding: 20px;
}
.scrinshots-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
    justify-content: center;
}
.media-container {
    display: flex;
    flex: 0 0 300px;
    align-items: flex-start;
}
.media-dark-block {
    width: 35vw;
    height: 20vh;
    background: #445162;
    margin-right: 10px;
}
.media-block h3 {
    color: #445161;
    font-size: 24px;
    line-height: 30px;
    margin-top: -5px;
}

/* Стили пятого блока */

.reviews {
    background: #f5f5f5;
}
.reviews h2 {
    text-align: center;
    padding: 30px 0 10px;
}
.reviews-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    justify-content: center;
}
.reviews-content {
    display: flex;
}
.text-reviews {
    display: flex;
    flex-direction: column;
    width: 550px;
    padding: 0 20px;
    background: #ebebeb;
}
.round {
    width: 4vw;
    height: 9vh;
    background: #445162;
    margin-right: 30px;
    border-radius: 50%;
}
.text-reviews p {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    color: #333333;
}
.text-reviews p:nth-child(2) {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    color: #989898;
    margin-top: -5px;
}

/* Стили шестого блока. */

.buy-it-now{
    display: flex;
    justify-content: center;
    column-gap: 40px;
    height: 565px;
    align-items: flex-end;
}
.buy h2 {
    text-align: center;
    padding: 20px;
}
.standart {
    height: 375px;
}
.premium {
    height: 470px;
}
.lux {
    height: 565px;
}
.list {
    background: #445162;
    border: 2px solid #445162;
}
.list h4 {
    color: white;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}
.list p {
    color: #445162;
    background: white;
    padding: 15px;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
}
.list li {
    color: white;
    font-size: 14px;
    line-height: 24px;
}
.list button {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #445162;
    background: white;
    padding: 10px 100px;
    margin: 0 30px 20px 30px; 
    border-radius: 5px; 
}
.list button:hover {
    background: rgb(164, 150, 196);
    color: rgb(207, 70, 70);
    transition: 1s;
}













/* Адаптивные стили под планшеты */


@media screen and (max-width: 900px) {
    header,
    .about-product,
    .media-container, .buy-it-now {
        flex-direction: column;
    }
}

/* Адаптивные стили под телефоны */

@media screen and (max-width: 500px) {
    .about-product,
    .media-container,
    .content, .buy-it-now {
        flex-direction: column;
        margin: 0 20px;
    }
    h1 {
        font-size: 50px;
    }
    .block-product p {
        margin: 20px auto;
    }
    h2 {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }
    .media-block h3 {
        padding-top: 20px;
    }
    .media-dark-block {
        align-self: center;
        margin-bottom: 20px;
    }
    .dark-block,
    .empty-block,
    .media-dark-block {
        width: 50vw;
        height: 25vh;
    }
    header {
        padding-bottom: 50px;
    }
    .about-product p {
        width: 90vw;
    }
    .reviews-container,
    .reviews-content {
        flex-direction: column;
    }
    .text-reviews {
        width: 240px;
        text-align: center;
        margin: 30px 10px;
        align-self: center;
    }
    .round {
        align-self: center;
        width: 80px;
        height: 80px;
        margin-top: -20px;
        padding: 5px;
    }
    .reviews h2 {
        padding: 30px;
    }
    .buy-it-now {
        display: block;
  }
  .list {
    margin-bottom: 50px;
  }
}
